*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    font-size: medium;
}
#showcase {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1 {
    color: darkmagenta;
    font-size: large;
    text-align: right;
}
#showcase p{
    color: lightgreen;
}
#about{
    color: aqua;
    font-style: italic;
    font-size: medium;
    text-align: left;
    font-family: sans-serif;
    text-indent: 1in;
    }
#showcase .button{
    font-size: large;
    text-decoration: none;
    color: darkmagenta;
    border: darkslateblue;
    border: radius 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#showcase .button:hover{
    background-color: darkslateblue;
    color: white;
}
.section-a{
    background-color: darkseagreen;
    text-align: start;
    padding-top: 20px;
}
#workheader{
    color: aqua;
    font-style: italic;
}
#section-b{
    background-color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1in;
    line-height: 40px;
}
#section-c{
    background-color: darkslategray;
}
#port{
    text-align: center;
    color: lightseagreen;
}
img{
    float: left;
}