h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1in;
}
p {
    font-family: sans-serif;
    text-indent: 1in;
}
ul {
    line-height: 40px;
    text-indent: 1in;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    font-size: medium;
}
#showcase {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1 {
    color: darkorchid;
    font-size: large;
    line-height: 1.2;
}
p {
    color: aqua;
    font-style: italic;
    font-size: medium;
}
#showcase .button{
    font-size: large;
    text-decoration: none;
    color: darkslateblue;
    border: darkslateblue; 1px solid;
    border: radius 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#showcase .button:hover{
    background-color: darkslateblue;
    color: white;
}

}
img {
    float: left;
}