*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    font-size: medium;
}
/*styling the header*/
.container{
    margin: auto;
    overflow: hidden;
}
header{
    background-color: dimgray;
    padding-top: 40px;
    font-size: medium;
    min-height: 40px;
    border-bottom:orange 3px solid;
}
header a{
    color:darkmagenta;
    text-decoration:none;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header a:hover{
    text-decoration: none;
    color:white;
}
/*styling the showcase*/
#showcase {
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    line-height: 2;
    border-bottom:orange 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-weight: 800;
}
#showcase h1 {
    color: lightgreen;
    font-size: large;
    text-align: right;
}
.highlight{
    color: darkmagenta;
    font-weight:bolder;
    text-transform: uppercase;
}
#showcase p{
    color: lightgreen;
}
#showcase .button{
    font-size: large;
    text-decoration: none;
    color: darkmagenta;
    border: darkslateblue;
    border: radius 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#showcase .button:hover{
    background-color: darkslateblue;
    color: white;
}
#about{
    color: aqua;
    font-style: italic;
    font-size: medium;
    text-align: left;
    font-family: sans-serif;
    text-indent: 1in;
    }
.section-a{
    background-color: darkseagreen;
    text-align: start;
    padding-top: 20px;
}
#workheader{
    color: aqua;
    font-style: italic;
}
#section-b{
    background-color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1in;
    line-height: 40px;
    border-bottom:orange 3px solid;
}
#section-c{
    background-color: darkslategray;
    margin: 0px;
}
#port{
    text-align: center;
    color:black;
    padding: 10%;
}
#port h3{
    color: lightgreen;
}
#section-c p{
    margin-bottom: 10%;
}
#section-c .box1{
    float: left;
    text-align: center;
    width: 30%;
    padding: 5px;
    border: darkslateblue;
    border: radius 10px;
    margin-top: 20px;
}
#section-c .box1:hover{
    background-color:darkkhaki;
    color: white; 
}
#section-c .box2{
    float: left;
    text-align: center;
    width: 30%;
    padding: 5px;
    border: darkslateblue;
    border: radius 10px;
    margin-top: 20px;
}
#section-c .box2:hover{
    background-color:darkkhaki;
    color: white; 
}
#section-c .box3{
    float: left;
    text-align: center;
    width: 30%;
    padding: 5px;
    border: darkslateblue;
    border: radius 10px;
    margin-top: 20px;
}
#section-c .box3:hover{
    background-color:darkkhaki;
    color: white; 
}
img{
    float: left;
}